# Copy this file and rename to `.env.sh`
# Enter values below

##########################################
# NEVER COMMIT .env.sh TO SOURCE CONTROL #
##########################################

# Run `chmod +x .env.sh` to give file execute permissions
# Add `source /path/to/connect_install/ops/.env.sh` to your startup script

# Connect Environment Variables
export SIXTHMAN_MONGODB_URI=""
export SIXTHMAN_REDIS_URL=""
export SIXTHMAN_LE_TOKEN=""
